.blackColor, .blackColor:focus, .blackColor:hover, .blackColor:visited {
    color: #000000;
}

.sogelink-color {
    color: #0062AE;
}

i[class^='icon-sogelink'] + em {
    background-color: #0062AE;
}

.maincare-color {
    color: #FF6640;
}

i[class^='icon-maincare'] + em {
    background-color: #FF6640;
}

.ideosante-color {
    color: #259972;
}

.vds-color {
    color: #FFD15D;
}

i[class^='icon-vds'] + em {
    background-color: #FFD15D;
}

.nba-color {
    color: #00B5AC;
}

.factorio-color {
    color: #304FFE;
}

.cvbroker-color {
    color: #4486F4;
}

.mlc-color {
    color: #E08E44;
}

.iunex-color {
    color: #90A9A9;
}

.rjo-color {
    color: #4A8AF4;
}

.ct-color,
.ctw-color {
    color: #FF783D;
}

i[class^='icon-iunex'] + em {
    background-color: #90A9A9;
}

.brg-color,
.vms-color {
    color: #DD7520;
}

.sm-color {
    color: #939393;
}

i[class^='icon-brayton'] + em {
    background-color: #DD7520;
}

.citylity-color {
    color: #3BBCD8;
}

i[class^='icon-citylity'] + em {
    background-color: #3BBCD8;
}

.cnh-color {
    color: #A32428;
}

i[class^='icon-cnh'] + em {
    background-color: #A32428;
}

.ain-color {
    color: #0683B9;
}

i[class^='icon-ain'] + em {
    background-color: #0683B9;
}

.harvard-color {
    color: #A41034;
}

i[class^='icon-harvard'] + em {
    background-color: #A41034;
}

.polytech-color {
    color: #009EE2;
}

i[class^='icon-polytech'] + em {
    background-color: #009EE2;
}

.iut-color {
    color: #FE8800;
}

i[class^='icon-lyon1'] + em {
    background-color: #FE8800;
}

.ljm-color {
    color: #FCC000;
}

i[class^='icon-lycees'] + em {
    background-color: #F99C1C;
}

.qwilabs-color {
    color: #F5CD0E;
}

i[class^='icon-qwiklabs'] + em {
    background-color: #F5CD0E;
}

.google-color {
    color: #4CAF50;
}

i[class^='icon-google'] + em {
    background-color: #4CAF50;
}

.cci-color {
    color: #004079;
}

i[class^='icon-cci'] + em {
    background-color: #004079;
}

.smp-color {
    color: #FE541C;
}

i[class^='icon-socialmedia'] + em {
    background-color: #FE541C;
}

.udemy-color {
    color: #ED5353;
}

i[class^='icon-udemy'] + em {
    background-color: #ED5353;
}

.mva-color {
    color: #00BCF2;
}

i[class^='icon-mva'] + em {
    background-color: #00BCF2;
}

.codeschool-color {
    color: #48ADC1;
}

i[class^='icon-codeschool'] + em {
    background-color: #48ADC1;
}

.livementor-color {
    color: #283339;
}

i[class^='icon-livementor'] + em {
    background-color: #283339;
}

.skill i[class^='fal fa-desktop'] + em {
    background-color: #2962ff;
}

.frontend-color {
    color: #2962ff;
}

.skill i[class^='fal fa-paint'] + em {
    background-color: #ff6d00;
}

.design-color {
    color: #ff6d00;
}

.skill i[class^='fal fa-cogs'] + em {
    background-color: #00bfa5;
}

.backend-color {
    color: #00bfa5;
}

.skill i[class^='fal fa-server'] + em {
    background-color: #ffab00;
}

.ops-color {
    color: #ffab00;
}

.skill i[class^='fal fa-database'] + em {
    background-color: #dd2c00;
}

.database-color {
    color: #dd2c00;
}

.skill i[class^='fal fa-microchip'] + em {
    background-color: #0091ea;
}

.ml-color {
    color: #0091ea;
}

.aerosafety-color {
    color: #4285F4;
}

i[class^='icon-aerosafety'] + em {
    background-color: #4285F4;
}

.bcfont-color {
    color: #ea2c37;
}

i[class^='icon-bcfont'] + em {
    background-color: #ea2c37;
}

.expo-color {
    color: #AD5A4A;
}

i[class^='icon-expo'] + em {
    background-color: #AD5A4A;
}

.evento-color {
    color: #E91E63;
}

i[class^='icon-evento'] + em {
    background-color: #E91E63;
}

.jsonimate-color {
    color: #000000;
}

i[class^='icon-jsonimate'] + em {
    background-color: #000000;
}

.velov-color {
    color: #E1061E;
}

i[class^='icon-velov'] + em {
    background-color: #E1061E;
}

.bmw-color {
    color: #0093DD;
}

i[class^='icon-bmw'] + em {
    background-color: #0093DD;
}

.studies-color {
    color: #00A6D9;
}

i[class^='icon-studies'] + em {
    background-color: #00A6D9;
}

.myachievements-color {
    color: #33B5E5;
}

i[class^='icon-myachievements'] + em {
    background-color: #33B5E5;
}

.pdt-color {
    color: #000000;
}

i[class^='icon-pdt'] + em {
    background-color: #000000;
}