.blackColor, .blackColor:focus, .blackColor:hover, .blackColor:active, .blackColor:visited {
    color: #000000;
}

.whiteColor, .whiteColor:focus, .whiteColor:hover, .whiteColor:active, .whiteColor:visited {
    color: #FFFFFF;
}

.sogelink-color, .sogelink-color:focus, .sogelink-color:hover, .sogelink-color:active, .sogelink-color:visited {
    color: #0062AE;
}

.sogelink-bgcolor {
    background-color: #0062AE;
}

i[class^='icon-sogelink'] + em {
    background-color: #0062AE;
}

.maincare-color, .maincare-color:focus, .maincare-color:hover, .maincare-color:active, .maincare-color:visited {
    color: #FF6640;
}

i[class^='icon-maincare'] + em {
    background-color: #FF6640;
}

.ideosante-color, .ideosante-color:focus, .ideosante-color:hover, .ideosante-color:active, .ideosante-color:visited {
    color: #259972;
}

.ideosante-bgcolor {
    background-color: #259972;
}

.vds-color, .vds-color:focus, .vds-color:hover, .vds-color:active, .vds-color:visited {
    color: #FFD15D;
}

.project.vds-color {
    border-left: 1px solid #FFD15D;
}

.vds-bgcolor {
    background-color: #FFD15D;
}

i[class^='icon-vds'] + em {
    background-color: #FFD15D;
}

.nba-color, .nba-color:focus, .nba-color:hover, .nba-color:active, .nba-color:visited {
    color: #00B5AC;
}

.project.nba-color {
    border-left: 1px solid #00B5AC;
}

.nba-bgcolor {
    background-color: #00B5AC;
}

.factorio-color, .factorio-color:focus, .factorio-color:hover, .factorio-color:active, .factorio-color:visited {
    color: #304FFE;
}

.project.factorio-color {
    border-left: 1px solid #304FFE;
}

.factorio-bgcolor {
    background-color: #304FFE;
}

.cvbroker-color, .cvbroker-color:focus, .cvbroker-color:hover, .cvbroker-color:active, .cvbroker-color:visited {
    color: #4486F4;
}

.project.cvbroker-color {
    border-left: 1px solid #4485F4;
}

.cvbroker-bgcolor {
    background-color: #4486F4;
}

.mlc-color, .mlc-color:focus, .mlc-color:hover, .mlc-color:active, .mlc-color:visited {
    color: #E08E44;
}

.project.mlc-color {
    border-left: 1px solid #E08E44;
}

.mlc-bgcolor {
    background-color: #E08E44;
}

.iunex-color {
    color: #90A9A9;
}

.rjo-color, .rjo-color:focus, .rjo-color:hover, .rjo-color:active, .rjo-color:visited {
    color: #4A8AF4;
}

.rjo-bgcolor {
    background-color: #4A8AF4;
}

.ct-color, .ct-color:focus, .ct-color:hover, .ct-color:active, .ct-color:visited,
.ctw-color, .ctw-color:focus, .ctw-color:hover, .ctw-color:active, .ctw-color:visited {
    color: #FF783D;
}

i[class^='icon-iunex'] + em {
    background-color: #90A9A9;
}

.brg-color, .brg-color:focus, .brg-color:hover, .brg-color:active, .brg-color:visited,
.vms-color, .vms-color:focus, .vms-color:hover, .vms-color:active, .vms-color:visited {
    color: #DD7520;
}

.sm-color, .sm-color:focus, .sm-color:hover, .sm-color:active, .sm-color:visited {
    color: #939393;
}

i[class^='icon-brayton'] + em {
    background-color: #DD7520;
}

.citylity-color {
    color: #3BBCD8;
}

i[class^='icon-citylity'] + em {
    background-color: #3BBCD8;
}

.cnh-color {
    color: #A32428;
}

i[class^='icon-cnh'] + em {
    background-color: #A32428;
}

.ain-color {
    color: #0683B9;
}

i[class^='icon-ain'] + em {
    background-color: #0683B9;
}

.harvard-color {
    color: #A41034;
}

.harvard-bgcolor {
    background-color: #A41034;
}

.harvard-bcolor {
    /*border: 1px solid #A41034;*/
}

i[class^='icon-harvard'] + em {
    background-color: #A41034;
}

.polytech-color {
    color: #009EE2;
}

.polytech-bgcolor {
    background-color: #009EE2;
}

.polytech-bcolor {
    /*border: 1px solid #009EE2;*/
}

i[class^='icon-polytech'] + em {
    background-color: #009EE2;
}

.iut-color {
    color: #FE8800;
}

i[class^='icon-lyon1'] + em {
    background-color: #FE8800;
}

.ljm-color {
    color: #FCC000;
}

i[class^='icon-lycees'] + em {
    background-color: #F99C1C;
}

.qwilabs-color {
    color: #F5CD0E;
}

i[class^='icon-qwiklabs'] + em {
    background-color: #F5CD0E;
}

.google-color {
    color: #4CAF50;
}

i[class^='icon-google'] + em {
    background-color: #4CAF50;
}

.cci-color {
    color: #004079;
}

i[class^='icon-cci'] + em {
    background-color: #004079;
}

.smp-color {
    color: #FE541C;
}

i[class^='icon-socialmedia'] + em {
    background-color: #FE541C;
}

.udemy-color {
    color: #ED5353;
}

i[class^='icon-udemy'] + em {
    background-color: #ED5353;
}

.mva-color {
    color: #00BCF2;
}

i[class^='icon-mva'] + em {
    background-color: #00BCF2;
}

.codeschool-color {
    color: #48ADC1;
}

i[class^='icon-codeschool'] + em {
    background-color: #48ADC1;
}

.livementor-color {
    color: #283339;
}

i[class^='icon-livementor'] + em {
    background-color: #283339;
}

.skill i[class^='far fa-desktop'] + em {
    background-color: #2962ff;
}

.frontend-color {
    color: #2962ff;
}

.skill i[class^='far fa-paint'] + em {
    background-color: #ff6d00;
}

.design-color {
    color: #ff6d00;
}

.skill i[class^='far fa-cogs'] + em {
    background-color: #00bfa5;
}

.backend-color {
    color: #00bfa5;
}

.skill i[class^='far fa-server'] + em {
    background-color: #ffab00;
}

.ops-color {
    color: #ffab00;
}

.skill i[class^='far fa-database'] + em {
    background-color: #dd2c00;
}

.database-color {
    color: #dd2c00;
}

.skill i[class^='far fa-microchip'] + em {
    background-color: #0091ea;
}

.ml-color {
    color: #0091ea;
}

.skill i[class^='far fa-mobile'] + em {
    background-color: #00c853;
}

.mobile-color {
    color: #00c853;
}

.aerosafety-color, .aerosafety-color:hover, .aerosafety-color:active, .aerosafety-color:focus, .aerosafety-color:visited {
    color: #4285F4;
}

i[class^='icon-aerosafety'] + em {
    background-color: #4285F4;
}

.bcfont-color, .bcfont-color:hover, .bcfont-color:active, .bcfont-color:focus, .bcfont-color:visited {
    color: #ea2c37;
}

i[class^='icon-bcfont'] + em {
    background-color: #ea2c37;
}

.expo-color, .expo-color:hover, .expo-color:active, .expo-color:focus, .expo-color:visited {
    color: #B04227;
}

i[class^='icon-expo'] + em {
    background-color: #B04227;
}

.evento-color, .evento-color:hover, .evento-color:active, .evento-color:focus, .evento-color:visited {
    color: #E91E63;
}

i[class^='icon-evento'] + em {
    background-color: #E91E63;
}

.jsonimate-color, .jsonimate-color:hover, .jsonimate-color:active, .jsonimate-color:focus, .jsonimate-color:visited {
    color: #000000;
}

i[class^='icon-jsonimate'] + em {
    background-color: #000000;
}

.velov-color, .velov-color:hover, .velov-color:active, .velov-color:focus, .velov-color:visited {
    color: #E1061E;
}

i[class^='icon-velov'] + em {
    background-color: #E1061E;
}

.bmw-color, .bmw-color:hover, .bmw-color:active, .bmw-color:focus, .bmw-color:visited {
    color: #0093DD;
}

i[class^='icon-bmw'] + em {
    background-color: #0093DD;
}

.studies-color, .studies-color:hover, .studies-color:active, .studies-color:focus, .studies-color:visited {
    color: #00A6D9;
}

i[class^='icon-studies'] + em {
    background-color: #00A6D9;
}

.myachievements-color, .myachievements-color:hover, .myachievements-color:active, .myachievements-color:focus, .myachievements-color:visited {
    color: #33B5E5;
}

i[class^='icon-myachievements'] + em {
    background-color: #33B5E5;
}

.pdt-color, .pdt-color:hover, .pdt-color:active, .pdt-color:focus, .pdt-color:visited {
    color: #000000;
}

i[class^='icon-pdt'] + em {
    background-color: #000000;
}

.optidis-color, .optidis-color:hover, .optidis-color:active, .optidis-color:focus, .optidis-color:visited {
    color: #2BBBAD;
}

i[class^='icon-optidis'] + em {
    background-color: #2BBBAD;
}