/* Your custom styles */
.intro {
    background: url("../img/0.jpg") no-repeat center center;
    background-size: cover;
}

#logoSvg {
    display: block;
    margin: 0 auto;
    height: 70%;
}

.h-1em {
    height: 1em;
}

.h-2em {
    height: 2em;
}

.top-nav-collapse {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.intro {
    color: #FFFFFF;
    position: relative;
}

#typed-strings {
    display: none;
}

.wave-container {
    position: absolute;
    width: 100%;
    height: 6em;
    display: block;
    left: 0;
    bottom: 0;
    background-image: url('../img/wavesquare.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left bottom;
}