body {
    user-select: none;
}

/* Your custom styles */
.intro {
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
}

#logoSvg {
    display: block;
    margin: 0 auto;
    height: 70%;
}

.h-1em {
    height: 1em;
}

.h-2em {
    height: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.exp-project h5 {
    font-size: 1.15rem;
}

.exp-project p {
    margin-bottom: 0.2em;
}

.top-nav-collapse {
    background-color: rgba(76, 110, 245, 0.8);
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.intro {
    color: #FFFFFF;
    position: relative;
}

#typed-strings {
    display: none;
}

.sectionTitle {
    padding-top: 3em;
}

.wave-container {
    position: absolute;
    width: 100%;
    height: 6em;
    display: block;
    left: 0;
    bottom: 0;
    background-image: url('../img/wavesquare.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left bottom;
}

.navbar .nav-link.active {
    background-color: rgba(255,255,255,.3);
}

section#container {
    color: #333333;
}

#presentation img.img-fluid {
    border-right: 1px solid #4C6EF5;
}

#contact .md-form .prefix~label {
    margin-left: 3.5rem;
}

.bg-color {
    background-color: #4C6EF5;
}

.color {
    color: #4C6EF5;
}

#experiences .exp-container .exp-company,
#education .edu-container .edu-school,
#skills .skill-container .skill,
#projects .project-container .project {
    position: relative;
}

#experiences .exp-container .exp-company em,
#education .edu-container .edu-school em,
#skills .skill-container .skill em,
#projects .project-container .project em {
    position: absolute;
    top: 0;
    right: 15px;
    width: 1px;
    height: 100%;
    z-index: 0;
    transition: width 0.5s;
}

#experiences .exp-container:hover .exp-company em,
#education .edu-container:hover .edu-school em,
#skills .skill-container:hover .skill em,
#projects .project-container:hover .project em {
    width: calc(100% - 30px);
}

#experiences .exp-container:hover .exp-company i,
#education .edu-container:hover .edu-school i,
#skills .skill-container:hover .skill i,
#projects .project-container:hover .project i {
    color: #FFFFFF !important;
}

#experiences .exp-container .exp-company i,
#education .edu-container .edu-school i,
#skills .skill-container .skill i,
#projects .project-container .project i {
    z-index: 2;
    transition: color 0.5s;
}

#experiences .project-container {
    width: 100%;
}

#experiences .project {
    cursor: pointer;
}

#experiences .project > i:first-child {
    font-size: 200%;
    width: 1.5em;
    display: inline-block;
}

#experiences .project[data-toggle="collapse"] .float-right {
    color: #333333;
}

#experiences .project .mrc-1 {
    margin-right: calc(1.25em + 2px);
}

#experiences .project .mrc-2 {
    margin-right: calc(2.5em + 4px);
}

#experiences .project .mrc-3 {
    margin-right: calc(3.75em + 6px);
}

#experiences .project > span {
    width: calc(100% - 4em - 2px);
    display: inline-block;
    vertical-align: bottom;
    padding-left: 1em;
}

#education .tag {
    border-radius: 4px;
    padding: 4px;
    white-space: nowrap;
    line-height:  35px;
}

#experiences .exp-project-collapse,
#projects .project-collapse {
    padding-left: 1.5em;
}

#experiences .exp-project-collapse:before,
#projects .project-collapse:before {
    font-family: Font Awesome\ 5 Pro;
    padding-right: 0.5em;
    content: "\f068";
}

#experiences .exp-project-collapse:after,
#projects .project-collapse:after {
    content: "Less...";
}

#experiences .exp-project-collapse.collapsed:before,
#projects .project-collapse.collapsed:before {
    content: "\f067";
}

#experiences .exp-project-collapse.collapsed:after,
#projects .project-collapse.collapsed:after {
    content: "More...";
}

#contact .btn-outline i {
    color: #FFFFFF;
}

#contact .md-form input[type=date]:focus:not([readonly])+label, 
#contact .md-form input[type=datetime-local]:focus:not([readonly])+label,
#contact .md-form input[type=email]:focus:not([readonly])+label, 
#contact .md-form input[type=number]:focus:not([readonly])+label, 
#contact .md-form input[type=password]:focus:not([readonly])+label, 
#contact .md-form input[type=search-md]:focus:not([readonly])+label, 
#contact .md-form input[type=search]:focus:not([readonly])+label, 
#contact .md-form input[type=tel]:focus:not([readonly])+label, 
#contact .md-form input[type=text]:focus:not([readonly])+label, 
#contact .md-form input[type=time]:focus:not([readonly])+label, 
#contact .md-form input[type=url]:focus:not([readonly])+label, 
#contact .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #4C6EF5;
}

#contact .md-form input[type=date]:focus:not([readonly]), 
#contact .md-form input[type=datetime-local]:focus:not([readonly]), 
#contact .md-form input[type=email]:focus:not([readonly]), 
#contact .md-form input[type=number]:focus:not([readonly]), 
#contact .md-form input[type=password]:focus:not([readonly]), 
#contact .md-form input[type=search-md]:focus:not([readonly]), 
#contact .md-form input[type=search]:focus:not([readonly]), 
#contact .md-form input[type=tel]:focus:not([readonly]), 
#contact .md-form input[type=text]:focus:not([readonly]), 
#contact .md-form input[type=time]:focus:not([readonly]), 
#contact .md-form input[type=url]:focus:not([readonly]), 
#contact .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 #4C6EF5;
    border-bottom: 1px solid #4C6EF5;
}

#contact .md-form .prefix,
#contact .md-form .prefix.active {
    color: #4C6EF5;
}

@media (max-width: 1200px) {
    #presentation img.img-fluid {
        border: none;
    }
    
    #experiences .exp-company > i:before,
    #education .edu-school > i:before,
    #projects .project > i:before,
    #skills .skill > i:before {
        color: #FFFFFF;
    }

    #experiences .exp-company > i,
    #education .edu-school > i,
    #projects .project > i {
        font-size: 2em;
        display: block;
    }

    #experiences .exp-container > .presentation-text,
    #education .edu-container > .presentation-text,
    #skills .skill-container > .presentation-text,
    #projects .project-container > .presentation-text {
        width: calc(100% - 1px);
        -ms-flex: 0 0 calc(100% - 1px);
        flex: 0 0 calc(100% - 1px);
        max-width: calc(100% - 1px);
    }

    #experiences .exp-container .exp-company em, 
    #education .edu-container .edu-school em, 
    #skills .skill-container .skill em, 
    #projects .project-container .project em {
        width: calc(100% - 30px);
    }

    #experiences .exp-container .exp-company, 
    #education .edu-container .edu-school, 
    #skills .skill-container .skill, 
    #projects .project-container .project {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
        max-width: 5em;
        margin: 0 auto;
    }
}
